# Ignore proj specific hiddens
.proj/
.Rproj.user/
.Rhistory
*.Rproj
.ipynb_checkpoints/
nohup.out
.secrets/

# Ignore libraries and containers
lib/
containers/

# Ignore data
data/

# Ignore output but track results
output/*
!output/results/
!output/results/**

# Ignore rstudio and jupyter logs
utils/rstudio/logs/
utils/jupyter/logs/
